@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <div class="jumbotron">
        <h1>Bilge Hotel'e Hoşgeldiniz!</h1>
        <p>BURAYA İNFO GELECEK</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Rezervasyon İçin Tıklayın!</a></p>
    </div>
</main>