@model ResetPwVM
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@Html.HiddenFor(x => x.ID)

                        
<span>@TempData["ErrorMessage"]</span>
<span>@ViewBag.Info</span>
<div class="col-md-6 col-lg-7 d-flex align-items-center">
    <div class="card-body p-4 p-lg-5 text-black">
        <span></span>
        @using (Html.BeginForm())
        {
            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>

            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Şifreni Yenile</h5>
            <div class="form-outline mb-4">
                <span asp-validation-for="Email"></span>
                <label class="form-label" for="form2Example17">Email Adresi: </label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Adresi Giriniz" })
            </div>

            <div class="pt-1 mb-4">
                <button class="btn btn-dark btn-lg btn-block">Şifre Yenile</button>
            </div>
        }


    </div>
</div>



